doctype html

head 
   title=title
   meta(http-equiv='content-type',content='text/html;charset=utf-8') //-shezhi zhongwen ziti
   meta(http-equiv='X-UA-Compatible',content='IE=edge')   //-shezhi liulanqi jianrong 
   meta(name='format-detection',content='telephone=no')   //-shouji haoma bubeixianshi de bohao shezhi 
   meta(name='renderer',content='webkit')   //-shezhi liulanqi wei gaosiliulan moshi 
   meta(name='viewport',content='width=device-width ,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0 ' )
body
   block content